@model IEnumerable<Waresoft.Developer>

@{
    ViewData["Title"] = "Розробники";
}

<h1>Розробники</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var targetId = "#modal" + item.Id;
            var modalId = "modal" + item.Id;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <div class="btn-toolbar">
                        <form method="get" asp-controller="Software" asp-action="Index" asp-route-id="@item.Id">
                            <input type="submit" class="btn btn-outline-dark mr-2" value="Список продуктів" />
                        </form>
                        <form method="get" asp-action="Edit" asp-route-id="@item.Id">
                            <input type="submit" class="btn btn-outline-dark mr-2" value="Редагувати" />
                        </form>
                        <button type="button" class="btn btn-outline-dark mr-2" data-toggle="modal" data-target="@targetId">
                            Видалити
                        </button>
                    </div>

                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Попередження</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body delete-modal-body">
                                    Ви впевнені, що хочете видалити цього розробника?
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-outline-dark">Так</button>
                                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ні</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<table>
    <tr>
        <td>
            <form method="get" asp-action="Create">
                <input type="submit" class="btn btn-outline-dark" value="Додати нового" />
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form method="get" asp-controller="Home" asp-action="Index">
                <input type="submit" class="btn btn-outline-dark" value="На головну" />
            </form>
        </td>
    </tr>
</table>
